<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/now">Now</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
            <ul>
                <li>
                    <a href='ma&#105;&#108;&#116;&#111;&#58;%&#54;&#49;%6Ed&#114;e%&#50;Ema%6Cbu%7&#49;&#64;g&#109;&#97;&#37;69l%2&#69;&#37;6&#51;om'>a&#110;d&#114;e&#46;&#109;albuq&#64;gma&#105;l&#46;com</a>
                </li>
                <li><a href="https://github.com/lejboua">github.com/lejboua</a></li>
            </ul>
            </footer>
        </body>
    </html>
